* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

  li, a, button {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight:400;
    font-size: 16px; 
    color:rgb(89, 88, 87);
    text-decoration: none;
  }

  header {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  padding:30px 5%;
  position: relative;
  }

  .logo {
    cursor:pointer;
    margin-right:auto;
  }

  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav_links li a {
    transition: all 0.3s ease 0s;
  }

  .nav_links li a:hover {
    color:#007bbb
  }

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color:rgb(89, 88, 87,1);
  border: none;
  color:#ffffff;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color:rgb(89, 88, 87,0.8); 
}

.btn-primary {
  padding: 8px 16px;
  background-color:rgb(89, 88, 87,1);
  border: none;
  position: relative;
  overflow: hidden;
  color:#ffffff;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  background-color:rgb(89, 88, 87,0.8); 
}

  .main {
    padding:25px 5px 15px 5px;
    margin: 25px;
  }

  .hero {
    padding:25px 5px 15px 5px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  body {
    background-color: #ffffff;
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.6; 
    color: #999796;
    margin: 0 auto;
  }

  .row {
    margin: 8px -16px;
  }

  .row,
  .row > .column {
    padding: 8px;
  }

  .column {
    float: left;
    width: 100%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Create four equal columns that floats next to each other */
.column {
  width: 25%;
}

.content {
  background-color: #fef4f4;
  padding:20px 10px 20px 10px;
  height:max-content;
  overflow:hidden;
  box-shadow: 2px 4px 3px rgba(22, 22, 22, 0.1)  ; 
  -webkit-box-shadow: 2px 4px 3px rgba(22, 22, 22, 0.1)  ; 
  -moz-box-shadow: 2px 4px 3px rgba(22, 22, 22, 0.1)  ;
  position: relative;
}

@media screen and (max-width:1400px) {
  .column {
    width: 100%;
  }
}

#work.row { padding-bottom: 25px; border-bottom: transparent; }

  .container {
    padding:25px 5px 15px 5px;
    margin: 25px;
  }

div {
    margin: o auto;

}

.div2 {
  border: 1px transparent;
  clear: inherit;
}

.text-wrapper { display: flex; }

span{display:inline;
}


  h1, h2, h3, h4 {
    line-height: 1.4;
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 300;
    line-height:2;
    margin: 0 auto;
  }
  h1 {
    color:#595857;
    font: size 36px;
    font-family: "dazzle-unicase", sans-serif;
    font-style: normal;
    margin: 0 auto;
    word-break: break-all;
  }
  
  h2 {
    color:#595857;
    font-size: 28px;
    margin: 0 auto;
  }
  
  h3 {
    color:#595857;
    font-size: 24px;
    margin: 0 auto;
  }
  h4 {
    color:#595857;
    font-size: 20px;
    margin: 0 auto;
  }

.img {
    width: 100%;
  }
  

    .column1of2,.column2of2 {
      width:300px;
      margin:10px;
      float:left;
      background-color:#fdeff2;
    }

    .footer {
      text-align: left;
      padding: 10px
    }

    ul#horizontal-list {
      width: auto;
      list-style: none;
      padding-top: 20px;
      }
      ul#horizontal-list li {
        display: inline;
      }
  
      input[type="text"],
      input[type="email"],
      select,
      textarea {
        font: 1.25rem / 1.5 sans-serif;
        font-family: "aktiv-grotesk", sans-serif;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
      }

      .col-container {
        display: flex;
        width: 100%;
      }
      .col {
        flex: 1;
        padding: 16px;
      }